.sass-cache/
tmp/
.rvmrc
bin/
.bundle/config
.DS_Store
.pygments-cache/
_deploy
sass.old
source.old
source/_stash
source/stylesheets/*.css
source/stylesheets/**/*.css
vendor
pdf
public
.c9revisions/
.dropbox