!!! 1.1
%html
  %head
    %title= @title
    %link{:href => "/css/reset.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/styles.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/pygments.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    .content-wrapper
      .project_breadcrumbs ...
      = yield