{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %}>
  <header role="banner">
    {% include header.html %}
  </header>

  <nav role="navigation">
    {% include navigation.html %}
  </nav>

  <div id="main">
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>

    {% include footer.html %}
  </div>

  {% include disqus.html %}
  {% include feedback.html %}
</body>
</html>
