{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %}>
  <header role="banner">{% include header.html %}</header>
  <nav role="navigation">{% include navigation.html %}</nav>
  <div id="main">
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>
  </div>
  <footer role="contentinfo">{% include footer.html %}</footer>
  {% include disqus.html %}
  {% include google_analytics.html %}
  {% include google_plus_one.html %}
  {% include twitter_sharing.html %}
  <div class="slide-out-div">
    <a class="handle" href="#">Content</a>
    <h3>Have feedback?</h3>
    <p>Thanks for letting us know! There's two ways to give us feedback:</p>
    <ul>
      <li>If you're on GitHub, you can <a href="https://github.com/JumpstartLab/curriculum/tree/master/source/projects">check out the source code</a>. This is all open source!</li>
      <li>If you don't have a GitHub account, you can <a href="mailto:jeff@jumpstartlab.com">send an email to Jeff</a>, and he'll be more than happy to address your issue.</li>
    </ul>
    <p>Thanks!</p>
  </div>
</body>
</html>
