<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/print_styles.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/css/pygments.css" media="all" />
    <!--[if IE 6]>
      <style type="text/css" media="screen">
        @import url("/stylesheets/ie6.css");
      </style>
    <![endif]-->

    <!--[if IE 7]>
      <style type="text/css" media="screen">
        @import url("/stylesheets/ie7.css");
      </style>
    <![endif]-->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div class="content-wrapper">
      <div class="project_breadcrumbs">...</div>
      {{ content }}
    </div>
  </body>
</html>
