// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

$page-bg: #e5e5e5;
//$header-bg: #263347;
//$subtitle-color: lighten($header-bg, 58);
$nav-bg: #fff;
$footer-bg: #f4f4f4;
//$sidebar-bg: desaturate(#eceff5, 8);
//$sidebar-link-color: saturate(#526f9a, 10);
//$sidebar-link-color-hover: darken(#7ab662, 9);


/* To use the light Solarized highlighting theme uncomment the following line */
$solarized: light;

/* If you want to tweak the Solarized colors you can do that here */
//$base03:          lighten(#26292c, 2);//#002b36; //darkest blue
//$base02:          #35383c;//#073642; //dark blue
//$base01:          #586e75; //darkest gray
//$base00:          #657b83; //dark gray
//$base0:           #839496; //medium gray
//$base1:           #93a1a1; //medium light gray
$base2:           #f5f5f5; //cream
$base3:           #fff; //white
//$solar-yellow:    #f4cf86;//#b58900;
//$solar-orange:    #e6a472;//#cb4b16;
//$solar-red:       #d77c79;//#dc322f;
//$solar-magenta:   #d33682;
//$solar-violet:    #c0a7c7;//#6c71c4;
//$solar-blue:      #92b2ca;//#268bd2;
//$solar-cyan:      #9ac9c4;//#2aa198;
//$solar-green:     #c2c77b;//#859900;


/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: $base02;
//$pre-color: $base1;
