@import url(http://fonts.googleapis.com/css?family=Permanent+Marker|Finger+Paint|Gloria+Hallelujah|Delius);

.exercise {
  padding: 20px;
  margin-bottom: 20px;

  h1, h2, h3, h4 {
    font-family: 'Permanent Marker', cursive;
  }

  background: #fcf59b;
  background:
    -webkit-gradient(
      linear,
      left top, left bottom,
      from(#81cbbc),
      color-stop(2%, #fcf59b)
    );

  -webkit-background-size: 100% 30px;

  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,.2);
  -moz-box-shadow: 0 2px 10px 1px rgba(0,0,0,.2);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,.2);

}
