@media only print {
  //.heading, .serif { font-family: "Baskerville"; }
  a:link { text-decoration: none; color: #000; }
  html {
    background-image: none !important;
    background: #fff !important;
    body {
    padding: 0 20px;
    font-size: 13px;
    }
  }
  * {
    background: #fff !important;
  }
  pre { @include border-radius(0); }
  h2 { 
    border-top: 1px dashed #aaa;
    page-break-before: always;
   }
  #main { border: none; }
  #main #content article { padding: 0; }
  #main #content figure.code, pre {
    border: 1px solid #ddd;
    border: {left: 0; right: 0;}
    * {
      // color: #000 !important;
      background: #fff !important;
      border: 0px !important;
      @include box-shadow(none);
      text-shadow: none !important;
      &.c, &.cm, &.cp, &.c1, &.cs {
        // color: #888 !important;
      }
      &.line-number {
        color: #888 !important;
      }
    }
  }
  #content { margin: 0; border: 0;}
  #content.sidebar-present { margin-right: 0px; }
  #content.sidebar-present { border-right: none; }

  article img {
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .window {
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 0px;
    border: {left: 0; right: 0;}
    .titleInside { 
      text-align: left; 
      margin-left: 10px;
      text-shadow: none;
    }
    nav.control-window { display: none; }
    
    div.terminal span.command { color: black; font-weight: bold; }
    div.irb span.command { color: black; font-weight: bold; }
    div.terminal span.output { color: #555; }
    div.irb span.output { color: #555; }
  }

  .toggle-sidebar { display: none; }
  body > footer { display: none; }
  aside.sidebar { display: none; }
  body > nav { display: none; }
  figure.code { * {font-size: 11px !important;} @include box-shadow(none); }
  .opinion, .note { @include box-shadow(none); }

  .slide-out-div { display: none; }
  .note:before { text-shadow: none; }
  .note { 
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
   }

   .download { display: none; }
   
   .exercise {
     border-top: 1px solid #ddd;
     border-bottom: 1px solid #ddd;
    }
}