#search form {
  display: block;
}

.st-modal-backdrop.fade.in {
  opacity: 0.5 !important;
}

.st-modal-scrollable {
  background: transparent !important;
}

@media (min-width: 1025px) {
  .swiftype-widget .autocomplete {
    margin-left: 20% !important;
    left: inherit !important;
  }
}
