// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@media print {
  html {
    background-image: none !important;
    background: #fff !important;
    body {
    padding: 0 20px;
    font-size: 13px;
    }
  }
  * {
    background: #fff !important;
  }
  h2 { border-top: 1px dashed #aaa; }
  #main { border: none; }
  #main #content article { padding: 0; }
  #main #content figure.code {
    border: 1px solid #ddd;
    border: {left: 0; right: 0;}
    * {
      color: #000 !important;
      background: #fff !important;
      border: 0px !important;
      @include box-shadow(none);
      text-shadow: none !important;
      &.c, &.cm, &.cp, &.c1, &.cs {
        color: #888 !important;
      }
      &.line-number {
        color: #888 !important;
      }
    }
  }
  #content { margin: 0; border: 0;}
  .toggle-sidebar { display: none; }
  body > footer { display: none; }
  aside.sidebar { display: none; }
  body > nav { display: none; }
}
body { overflow: visible; }
html { background: $main-bg; }
body > nav {
  &:before, ul.main-navigation:before {
    content: ''; position: absolute; top: 0; width: 1000%; bottom: 0; background: #fff;
  }
  &:before {
    left: -1000%;
    @include box-shadow(rgba(#000, .1) -1px 1px 1px);
  }
  ul.main-navigation:before {
    right: -1000%;
    @include box-shadow(rgba(#000, .1) 1px 1px 1px);
  }
  ul.main-navigation {
    @include horizontal-list(0);
    float: left;
    display: block;
    padding-top: .15em;
    a {
      float: left;
      text-decoration: none;
      font-size: 1.1em;
      padding: .1em 0;
      line-height: 1.5em;
    }
  }
  text-align: center;
  a[href='/']{
    @include replace-text-with-dimensions('logo.png');
    height: image-height('logo.png')/2;
    background-position: top;
    padding: 0 !important;
    margin: 0 !important;
    &:hover { background-position: bottom; }
  }
  z-index: 100;
  @include box-shadow(rgba(#000, .1) 0 1px 1px);
  background: #fff; border: 0;// { left: #eee 1px solid; right: #eee 1px solid; bottom: 0; }
}
body > footer { background: none; }
body > header,
body > nav .subscription,
body > nav form,
aside.sidebar,
.toggle-sidebar,
{
  display: none;
}
#content { border: none; margin: 0;}
